.profile__info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

@media screen and (max-width: 881px) {
    .profile__info {
        max-width: 480px;
        margin: 0 auto;
    }    
}

@media screen and (max-width: 481px) {
    .profile__info {
        max-width: 320px;
    }    
}

@media screen and (max-width: 321px) {
    .profile__info {
        max-width: 282px;
    }    
}