.profile__add-post {
    width: 150px;
    height: 50px;
    padding: 0;
    border: 2px solid white;
    background-color:black;
    background-image: url(../../../images/plass_image.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.profile__add-post:hover {
    opacity: .5;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
}

@media screen and (max-width: 881px) {
    .profile__add-post {
        width: 282px;
        margin-top: 36px;
    }
    
}